src/__pycache__
results/
data/*
simulation_param_files/*

!simulation_param_files/1_*_2021_burstable_2_86400_*_worst-fit_usage_10_48_0.01_0_True_2016.json
!simulation_param_files/simulation_params_example.json
# !data/BurstableVMs_2021_Data.parquet